<body  align='center'>

  <div class="card" >
    <!-- <img src="assets/smedia.jpg" class="card-img-top" alt="..."> -->
    <div class="card-body ml-6">
      <h5 class="card-title text-center text-warning">Contact Us</h5>

      <br>
      
      <div class="email">
        <span><i class="fa-regular fa-envelope"></i></span>  &nbsp;<span> 
          <a href="mailto:malwike.ke@gmail.com" target="blank">malwike.ke&#64;gmail.com</a> </span>
      </div>
      <br>
      <div class="phone">
        <span><i class="fa-solid fa-phone"></i></span>  &nbsp;<span> 
         <a href="tel:+254759700444">+254759700444</a> </span>
      </div>

      <br>
      <div class="phone">
        <span><i class="fa-brands fa-linkedin"></i></span>  &nbsp;<span> 
         <a href="https://www.linkedin.com/company/malwiketechnologies" target="blank">Malwike Technologies</a> </span>
      </div>
      <div class="viewOwner">

        
      </div>

    </div>
  </div>
</body>
