<body>


<main>

<header align="center">

    <!-- Button trigger modal -->
<div type="" class="">
    <img src="assets/malwike.png" alt="" class="logo" align="centre"> 
</div>
  
  



    <p class="company-name fw-bold pt-2 text-center">Malwike Technologies </p>
</header>

<div class="main-links">

<div class="nav-links">

<p routerLink="malwike-technologies" routerLinkActive="active-link" >MALWIKE</p>

<p routerLink="services" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">SERVICES </p>

<p routerLink="clients" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">PORTFOLIO</p>

<p routerLink="careers" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">CAREERS</p>

<p routerLink="contacts" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">CONTACT</p>

<p routerLink="hub" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">MALWIKEHUB</p>

</div>


<footer>

     <button class="quote-btn"> GET QUOTE</button>


</footer>

</div>

</main>

<div class="other-tabs">
<router-outlet></router-outlet>
</div>


</body>


<div class="mobile-navigation">
 
    <div class="nav-links" align="center">

        <div routerLink="malwike-technologies" routerLinkActive="active-link" ><i class="fa-solid fa-house">  </i> <div class="icon-text">Malwike</div> </div>
        
        <div routerLink="services" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-briefcase"></i>  <div class="icon-text">services</div>  </div>
        
            <div  routerLink="clients" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-handshake"></i> <div class="icon-text">PORTFOLIO</div> </div>
        
                <div routerLink="careers" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-graduation-cap"></i><div class="icon-text">Careers</div> </div>
        
                    <div routerLink="contacts" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-phone"></i>  <div class="icon-text">Contact</div> </div>
        
        </div>

</div>





