@media only screen and (min-width: 992px) {
body{
   display: flex; 
   gap: 2em;
  
}

p{
    font-family: sans-serif;
    font-weight: 200;
}

header{
   font-family: sans-serif;
   font-weight: 200;
}

main
{padding-top: 2em;
/* margin-left: 2.5em; */
width: 15%;
cursor: progress;   
/* z-index: 0; */
position: fixed;
}

.logo{
border-radius: 50%;
width: 10em;
border: 3px dotted black;
padding: 2px;

}
.active-link{
    font-weight: bold;
  /* border: 1px dotted black; */
  border-left: 1px solid black;
  border-width: 5px;
  padding: 2px;
  /* border-radius: 100px; */
}

.main-links
{
   align-items: center;
   margin-left: 2.7em;
   font-size: medium;
}

.icons{
   font-size: x-large;
   cursor: grab;
}

.linkedin{
    font-size: x-large;
    cursor: grab;
    color: blue;
 }

 .whatsapp{
    font-size: x-large;
    cursor: grab;
    color: green;
 }

 .youtube{
    font-size: x-large;
    cursor: grab;
    color: red;
 }

span
{
    letter-spacing: 1px;
}

.other-tabs
{
    width: 85%;
    margin-left: 15em;
}

.mobile-navigation
{
    display: none;
   ;
}

.quote-btn
{ 
   display: none;
 
   border: 4px solid white;
  padding: 4px;
   background-color: blueviolet;
   color: white;
   font-size: small;
   /* width: 80%; */
  }

  .quote-btn:hover
{
   border: 4px solid white;
   padding: 4px;
   background-color: blueviolet;

  }


}


@media only screen and (max-width: 992px) {

  


   .nav-links
   {
    display: flex;
    justify-content: space-around;
    background-color:black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: x-large;
    align-items: center;
    padding: 4px;
    color: white;


        
     }

     main{
       display: none;
       
    }

    .icon-text{
      font-size: small;
      padding-top: -5em;
      
   }

    .active-link{
        /* font-weight: bold; */
      /* border: 1px dotted black; */
      /* border-bottom: 1px solid  rgb(4, 2, 17); */
      /* border-top: 1px solid rgb(235, 9, 9); */
      color: orangered;
      /* border-width: 5px; */
      /* padding: 2px; */
      /* border-radius: 100px; */
  
    }


    

}
    
