<body>
  
<p class="services">Our Services</p>

<main  align='center'>

  <div class="card">
    <img src="assets/web.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center text-warning">Website Development</h5>
      <p class="card-text fs-6" >
       We offer end-to-end design and development services that turn ideas into intuitive, high-performing digital products tailored for your business success. </p>
       <div class="buttons">
        <button class="learn-more">Learn More</button> <button class="getQuote">Get Quote</button>
       </div>    
    </div>
  </div>

  <div class="card">
    <img src="assets/app.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center text-warning">App Development</h5>
      <p class="card-text fs-6" >
        We offer end-to-end app design and development services that turn ideas into intuitive, high-performing android and IOS mobile apps tailored for your business success.
      </p>
       <div class="buttons">
        <button class="learn-more">Learn More</button> <button class="getQuote">Get Quote</button>
       </div>    
    </div>
  </div>

  <div class="card">
    <img src="assets/seo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center text-warning">Search Engine Optimization</h5>
      <p class="card-text fs-6" >
         We help businesses grow online with expert SEO strategies that boost visibility, traffic, and search rankings. You have to be findable to be fundable. Our SEO specialists at your service.
         </p>
       <div class="buttons">
        <button class="learn-more">Learn More</button> <button class="getQuote">Get Quote</button>
       </div>    
    </div>
  </div>


</main>

</body>
