<body>
    <!-- <app-navbar></app-navbar> -->


    <main>

        <!-- <img src="assets/Tech-Wallpaper-HD-35703 (2).jpg" alt="" srcset=""> -->


        



        <div class="about">

           
            <h3>
            <time datetime="" class="">

                {{ dateToday | greeting }} 

        
            </time> <br>

          
           
        </h3>

        <span class='name-company'>Malwiker</span>
            
        </div>

        
        <div class="mobile-status">
  <!-- Button trigger modal -->

  <div class="modal-1">
  <div type="" class="" data-bs-toggle="modal" data-bs-target="#exampleModal1" align="center">
    <img src="assets/malwike.png" alt="" class="logo"> 
    <br> <span class="text-warning" align="center">Welcome</span>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Welcome to Malwike Technologies</h5>
         
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p>
          Dear Technosapien, <br> <br>
          Welcome to Malwike Technologies. We are proud to offer top-tier digital services designed to elevate your brand and bring your vision to life. <br> <br> From Website Development and App Development to expert Search Engine Optimization (SEO) and Social Media Management, we deliver results that make an impact. <br> <br> Our creative team also specializes in stunning Photography and Video Production and eye-catching Graphic Design ensuring your business stands out across all platforms. <br><br>
        Experience quality, creativity, and commitment with every project we take on. Let’s build something great together! <br> <br> Kind regards. <br>

        Kevin Malomba, <br>
        CEO, Malwike Technologies.
      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
          
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal-1">
    <div type="" class="" data-bs-toggle="modal" data-bs-target="#exampleModal" align="center">
      <img src="assets/web.png" alt="" class="logo" align="centre"> 
      <br> <span class="text-warning" align="center">Our Values</span>
  </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Our values</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <ol>
              <li>
                <strong>Customer Focus:</strong>We prioritize our clients' goals and satisfaction by delivering tailored solutions that truly meet their needs.
              </li>

              <li>
                <strong>Creativity:</strong> We bring fresh ideas, innovative designs, and original thinking to every project and ensuring standout digital experiences.
              </li>

              <li>
                <strong>Craftsmanship:</strong> We are passionate about quality, paying close attention to detail in design, development, and performance.
              </li>

              <li>
                <strong>Clarity:</strong> We communicate openly and transparently, setting clear expectations and delivering honest updates throughout every phase.
              </li>

              <li>
                <strong>Collaboration:</strong>We believe great results come from teamwork and working closely with clients and within our team to reach shared goals.
              </li>

              <li>
                <strong>Commitment:</strong>We’re fully dedicated to delivering on our promises, meeting deadlines, and exceeding expectations.
              </li>

              <li>
                <strong>Curiosity:</strong>We stay curious and forward-thinking and constantly learning new tools and technologies to stay ahead of the curve.
              </li>

              <li>
                <strong>Customer Experience:</strong>We design and build with the end-user in mind, ensuring smooth, intuitive, and enjoyable interactions.
              </li>

             </ol>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <div class="modal-1">
    <div type="" class="" data-bs-toggle="modal" data-bs-target="#exampleModal3" align="center">
      <img src="assets/braintech.jpg" alt="" class="logo" align="centre"> 
      <br> <span class="text-warning" align="center">Discover</span>
  </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Discover</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <br> <br>
             <div class="card">
              <!-- <img src="assets/knowlihood.png" class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title text-center text-dark">Knowlihood</h5>
                <hr>
                <p>Knowlihood is a channel dedicated to exploring topics in STEM, politics, and various existential issues through informative and analytical content.
                </p>
                <hr>
                <div class="socials">
                  <a href="https://youtube.com/@knowlihood?si=4caXchq4H7k2BawQ" class="card-link" target="blank" title="youtube"><i class="fa-brands fa-youtube">  </i></a> 

                  <a href="https://youtube.com/@knowlihood?si=4caXchq4H7k2BawQ" class="card-link" target="blank" title="Instagram"><i class="fa-brands fa-instagram"></i></a> 

                  <a href="https://youtube.com/@knowlihood?si=4caXchq4H7k2BawQ" class="card-link" target="blank" title="Instagram"><i class="fa-brands fa-x-twitter"></i></a> 

                  <a href="https://youtube.com/@knowlihood?si=4caXchq4H7k2BawQ" class="card-link" target="blank" title="Instagram"><i class="fa-brands fa-tiktok"></i></a> 
                 
                </div>
                
              </div>
            </div>



          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  

            
        </div>

        <div class="about-us"> 
            
            <p>WELCOME TO MALWIKE TECHNOLOGIES <br>
                YOUR FIRST CLASS TECH PARTNER IN </p>

                <ngx-typed-js [strings]="['Website Development ^2000', 'App Development ^2000', 'Graphic Design ^2000', 'Search Engine Optimization ^2000', 'Search Engine Optimization ^2000', 'Social Media Management ^2000', 'Photography and Video ^2000', 'Graphic Design ^2000' ]" [typeSpeed]="100" [loop]="true" [showCursor]="false">
                    <h1 class="typing text-warning text-animation" ></h1>
                  </ngx-typed-js>
<!-- 
                  <ngx-typed-js [strings]="['This is text ^1000 which gets paused for 1 second']">
                    <h2 class="typing"></h2>
                  </ngx-typed-js> -->

                

        </div>


        <div class="cool-design">

          
        </div>

    </main>

   

    

</body>








