<body>
    <!-- <app-navbar></app-navbar> -->


    <main>

        <!-- <img src="assets/Tech-Wallpaper-HD-35703 (2).jpg" alt="" srcset=""> -->


        



        <div class="about">

           
            <h3>
            <time datetime="" class="">

                {{ dateToday | greeting }} 

        
            </time> <br>

          
           
        </h3>

        <span class='name-company'>Malwiker</span>
            
        </div>

        
        <div class="mobile-status">
  <!-- Button trigger modal -->

  <div class="modal-1">
  <div type="" class="" data-bs-toggle="modal" data-bs-target="#exampleModal1" align="center">
    <img src="assets/malwike.png" alt="" class="logo"> 
    <br> <span class="text-warning" align="center">Dear Malwiker</span>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Welcome to Malwike Technologies</h5>
         
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p>
          Dear Technosapien, <br> <br>
          Welcome to Malwike Technologies, where we are dedicated to transforming your digital presence into a powerful tool for success. We are proud to offer top-tier digital services designed to elevate your brand and bring your vision to life. <br> <br> From Website Development and App Development to expert Search Engine Optimization (SEO) and Social Media Management, we deliver results that make an impact. <br> <br> Our creative team also specializes in stunning Photography and Video Production and eye-catching Graphic Design ensuring your business stands out across all platforms. <br><br>
        Experience quality, creativity, and commitment with every project we take on. Let’s build something great together! <br> <br> Kind regards. <br>

        Kevin Malomba, <br>
        CEO, Malwike Technologies.
      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
          
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal-1">
    <div type="" class="" data-bs-toggle="modal" data-bs-target="#exampleModal" align="center">
      <img src="assets/web.png" alt="" class="logo" align="centre"> 
      <br> <span class="text-warning" align="center">Our Values</span>
  </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  align="center">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Our values</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <div class="modal-1">
    <div type="" class="" data-bs-toggle="modal" data-bs-target="#exampleModal3" align="center">
      <img src="assets/braintech.jpg" alt="" class="logo" align="centre"> 
      <br> <span class="text-warning" align="center">Discover</span>
  </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Discover</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  

            
        </div>

        <div class="about-us"> 
            
            <p>WELCOME TO MALWIKE TECHNOLOGIES <br>
                YOUR FIRST CLASS TECH PARTNER IN </p>

                <ngx-typed-js [strings]="['Website Development ^2000', 'App Development ^2000', 'Graphic Design ^2000', 'Search Engine Optimization ^2000', 'Search Engine Optimization ^2000', 'Social Media Management ^2000', 'Photography and Video ^2000', 'Graphic Design ^2000' ]" [typeSpeed]="100" [loop]="true" [showCursor]="false">
                    <h1 class="typing text-warning text-animation" ></h1>
                  </ngx-typed-js>
<!-- 
                  <ngx-typed-js [strings]="['This is text ^1000 which gets paused for 1 second']">
                    <h2 class="typing"></h2>
                  </ngx-typed-js> -->

                

        </div>


        <div class="cool-design">

          
        </div>

    </main>

   

    

</body>








